.home{
    flex: 1;
    display: flex;
    margin-top: 8vh;
    /*add background img here*/
}

.homeContainer{
    height: inherit;
    border: black solid 1px;
}

.cardsContainer{
    width: 100%;
    background-color: rgb(104, 50, 205);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  /*  display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}