.home{
    flex: 1;
    height: 100vh;
    display: flex;
    margin-top: 8vh;
    overflow: auto;
    background-image: url('../img/SunsetBackground.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.homeContainer{
    height: 100%;
}

.cardsContainer{
    height: inherit;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 40px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .home{
        background-image: url('../img/SunsetBackgroundForPhones.jpg');
        
    }
       
    .cardsContainer{
        grid-template-columns: 1fr ;
        padding: 15px;
        gap: 5px;
        width: 50%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .cardsContainer{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 45px;
    }


}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

    .home{
        height: 84vh;
    }

    .cardsContainer{
        height: 42vh;
    }


  }
 